<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="~/Templates/ruang-admin/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">Taste Food Admin</div>
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" href="/Profile/Index/">
            <i class="fa fa-child"></i>
            <span>Kullanıcılar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Dashboard/Index/">
            <i class="fa fa-cubes"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminAbout/AboutList/">
            <i class="fa fa-address-book"></i>
            <span>Hakkımızda</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminSlider/SliderList/">
            <i class="fa fa-object-group"></i>
            <span>Slider</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminAddress/AddressList/">
            <i class="fa fa-location-arrow"></i>
            <span>Adresler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminCategory/CategoryList/">
            <i class="fa fa-database"></i>
            <span>Kategoriler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminChef/ChefList/">
            <i class="fa fa-sign-language"></i>
            <span>Şeflerimiz</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminProduct/ProductList/">
            <i class="fa fa-spinner"></i>
            <span>Ürünler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminTestimonial/TestimonialList/">
            <i class="fa fa-users"></i>
            <span>Referanslar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminNotification/NotificationsList/">
            <i class="fa fa-bell"></i>
            <span>Bildirimler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminReservation/ReservationList/">
            <i class="fa fa-tag"></i>
            <span>Rezervasyonlar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminContact/ContactList/">
            <i class="fa fa-phone-square"></i>
            <span>İletişim</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminSocialMedia/SocialMediaList/">
            <i class="fa fa-laptop"></i>
            <span>Sosyal Medya</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Login/Index/">
            <i class="fa fa-power-off"></i>
            <span>Çıkış Yap</span>
        </a>
    </li>
</ul>
