<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img img-2 w-100 mr-md-2" style="background-image: url(/Templates/tasteit-master/images/bg_6.jpg);"></div>
                <div class="img img-2 w-100 ml-md-2" style="background-image: url(/Templates/tasteit-master/images/bg_4.jpg);"></div>
            </div>
            <div class="col-md-6 ftco-animate makereservation p-4 p-md-5">
                <div class="heading-section ftco-animate mb-5">
                    <span class="subheading">Bizim Sırrımız</span>
                    <h2 class="mb-4">Mükemmel Ürünler</h2>
                    <p>
                        Restaurant, lezzet tutkunlarının vazgeçilmez adresi. Taze ve kaliteli malzemelerle hazırlanan yemeklerimiz, damak zevkinize hitap edecek. Ayrıca, şık ve modern dekorasyonumuzla sizleri ağırlamaktan mutluluk duyacağız.
                    </p>
                    <p><a href="#" class="btn btn-primary">Daha Fazla Bilgi İçin</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
